-extends "base.haml"

-block content:
  {{ page.content }}

  -if page.subpages
    %section
      -for subpage in page.subpages:
        %article
          %header
            .text-center
              %h2
                %a{href:"{{ page.rel_site_url }}/{{ subpage.url }}"}
                  {{ subpage.title }}
              %nav
                %ul
                  %li
                    %time{datetime:"{{ subpage.date.isoformat() }}", pubdate:'pubdate'}
                      {{ subpage.date.strftime("%Y-%m-%d") }}
          %p.text-center {{ subpage.excerpt }}
