-extends "base.haml"

-block content:
  %article
    %header
      .text-center
        %h1 {{ page.title }}
        %small
          %time{datetime:"{{ page.date.isoformat() }}", pubdate:'pubdate'}
            {{ page.date.strftime("%Y-%m-%d") }}
    {{ page.content }}
