-extends "base.haml"
-block content:
  %article
    %header.text-center
      %nav
        %time{datetime:"{{ page.date.isoformat() }}"}<
          {{ page.date.strftime("%Y-%m-%d") }}
      %h1<
        {{ page.title }}
    {{ page.content }}
  -if page.forum
    #disqus_thread
    %script
      (function() {
        var s = document.createElement('script'); s.async = true;
        s.src = '//{{ site.disqus }}.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(s);
      })();
